body { background-color: #def; color: #002; font: 12px/2em "Lucida Grande"; margin: 0; }
.body { margin: 0 auto 20px; min-width: 1000px; max-width: 1280px; overflow: auto; }
#content { margin-left: 440px; margin-right: 20px; background-color: #fff; padding: 20px; }

a { outline: none; }

h1 {
  background-color: #002;
  color: #fff;
  margin: 0 auto 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  min-width: 1000px;
  max-width: 1280px;
}

h1 a { color: #fff; display: block; padding: 10px; text-decoration: none; }
h1 span { display: block; color: #002; font-size: 18px; margin-top: 10px; text-transform: none; }

#navigation { float: left; margin-left: 20px; width: 400px; }
#navigation div { background-color: #fff; margin-bottom: 20px; padding: 20px; }
#navigation h2 { margin: 0; }
#navigation ul { max-height: 240px; margin: 0; padding: 0; list-style: none; overflow: auto; }
#navigation .selected { font-weight: bold; }

#method-list-section ul { padding: 0; list-style: none;  line-height: 30px;}
#method-list-section li { display: inline; margin-right: 10px; }
#method-list-section li a { background-color: #383; color: #eee; text-decoration: none; padding: 4px; -webkit-border-radius: 2px; }

h2 { color: #833; margin-bottom: 0; font-size: 16px; }
h3 { color: #833; margin-bottom: 0; }

h4 { background-color: #383; color: #eee; margin-bottom: 0; padding: 5px; }
.method-description { margin-bottom: 40px; }
.method-description pre { margin-top: 0; }

a { color: #383; }
p { margin: 5px 0; }
ul { margin-top: 0; }
kbd { font-family: Monaco; background-color: #eee; padding: 2px; }
code { font-family: Monaco; background-color: #eee; padding: 2px; }
pre { font-family: Monaco; background-color: #002; color: #eee; padding: 10px; display: block; overflow: auto; }