<!DOCTYPE html>
<html>
  <head>
    <title>Harbor Framework</title>
    <style type="text/css" media="screen">
      body { background-color: #def; color: #002; font: 12px/2em "Lucida Grande"; margin: 20px 0 0 0; }
      .body { background-color: #fff; width: 700px; margin: 0 auto 20px; border: 20px solid #fff; }

      a { outline: none; }

      h1 {
        background-color: #57b;
        color: #fff;
        margin: 0 0 20px;
        font-family: 'geneva';
        font-size: 28px;
        font-weight: normal;
        padding: 20px 10px;
        text-align: center;
        text-transform: uppercase;
      }

      h1 span { display: block; color: #002; font-size: 18px; margin-top: 10px; text-transform: none; }

      p.feature { font-size: 16px; }

      h2 { color: #833; margin-bottom: 0; font-size: 16px; }
      h3 { color: #833; margin-bottom: 0; }
      a { color: #383; }
      p { margin: 5px 0; }
      ul { margin-top: 0; }
      kbd { font-family: Monaco; background-color: #eee; padding: 2px; }
      code { font-family: Monaco; background-color: #eee; padding: 2px; }
      pre { font-family: Monaco; background-color: #002; color: #eee; padding: 10px; display: block; }

    </style>
  </head>
  <body>
    <div class="body">

      <div id="content">
        <%= @content %>
      </div>

    </div>
  </body>
</html>